.HomeBlock{   
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 65px 0px;
}

.Textcontent{
    text-align: left;
}

.Title{
    font-size: 35px;
    max-width: 500px;
    color: #006c84;
    font-weight: 700;
}

.Text{
    color: #1995ad;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.Button{
    background-color: #1995ad;
    color: #c4dfe6;
    border-radius: 50px;
    border: 1px #1995ad solid;
    padding: 15px 70px;
    font-size: 15px;
    box-sizing: border-box;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: 700;
    margin-right: 6px;
}

.Button:hover{
    background-color: #c4dfe6;
    color: #1995ad;
    border: 1.5px #1995ad solid;
}

.Image{
    width: 500px;
}

.ButtonSign{
    display: none;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1050px) {
    .HomeBlock{   
        padding: 0px 25px;  
    }

    .Image{
        width: 350px;
    }

    .Title{
        font-size: 25px;
    }

    .Text{
        font-size: 15px;
    }

    .Button, .ButtonSign{
        padding: 15px 40px;
        font-size: 15px;
    }
}

@media (max-width: 690px) {    
    .ButtonSign{
        display: inline-block;
        background-color: #c4dfe6;
        color: #1995ad;
        border-radius: 50px;
        border: 1px #1995ad solid;
        box-sizing: border-box;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        font-weight: 700;
    }

    .ButtonSign:hover{
        background-color: #1995ad;
        color: #c4dfe6;
        border: 1px #1995ad solid;
    }
    
    .Button, .ButtonSign{
        padding: 15px 20px;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .HomeBlock{   
        flex-wrap: wrap; 
        justify-content: center;
        flex-direction: column-reverse;
        margin: 25px 0px;
    }

    .Textcontent{
        text-align: center;
    }

    .buttons{
        justify-content: space-around;
    }
}

@media (max-width: 550px) {
    .Image{
        width: 200px;
    }

    .HomeBlock{   
        margin: 25px 0px;
    }

    .Title{
        font-size: 18px;
    }

    .Text{
        font-size: 14px;
        margin-bottom: 15px;
    }

    .Button, .ButtonSign{
        padding: 10px 25px;
        font-size: 14px;
    }
}