.Container {
    max-width: 1200px;
    margin: 0 auto;
}

.HeaderOwn {
    background-color: white;
}

.HeaderContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.Logo {
    cursor: pointer;
    width: 95px;
    height: 70px;
}

.ButtonLog {
    border: 1px rgb(37, 37, 99) solid;
    background-color: white;
    color: rgb(37, 37, 99);
}

.ButtonSign {
    background-color: rgb(37, 37, 99);
    color: white;
    border: 1px rgb(37, 37, 99) solid;
    margin-left: 25px;
}

.ButtonLog,
.ButtonSign {
    padding: 10px 20px;
    font-size: 15px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    font-weight: 600;
}

.ButtonLog:hover {
    background-color: rgb(37, 37, 99);
    color: white;
    border: 1px rgb(37, 37, 99) solid;
}

.ButtonSign:hover {
    border: 1px rgb(37, 37, 99) solid;
    background-color: white;
    color: rgb(37, 37, 99);
}

.MenuList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.MenuList li {
    margin-left: 20px;
    font-size: 15px;
    color: rgb(37, 37, 99);
    font-weight: 700;
    cursor: pointer;
}

.MenuList li {
    position: relative;
    line-height: 1;

}

.MenuList li:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(37, 37, 99);
    content: "";
    transition: width 0.3s ease-out;
}

.MenuList li:hover:after,
.MenuList li:focus:after {
    width: 100%;

}

@media (max-width: 1250px) {
    .HeaderOwn {
        padding: 0px 25px;
    }
}

@media (max-width: 690px) {
    .Header {
        height: 60px;
    }

    .Logo {
        display: none;
    }

    .ButtonLog,
    .ButtonSign {
        padding: 10px 10px;
        font-size: 14px;
    }

    .HeaderContent {
        justify-content: center;
    }

    .MenuList li {
        margin-left: 10px;
        font-size: 14px;
    }

    .MenuList {
        padding-left: 0px;
    }

    .Header {
        justify-content: center;
    }
}


@media (max-width: 460px) {
    .Header {
        height: 90px;
        align-items: flex-start;
    }

    .HeaderContent {
        flex-wrap: wrap;
    }

}