.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32.5px 40px;
    border-radius: 10%;
    margin: 73.5px 0px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 370px;    
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonReset{
    border: 1px #006c84 solid;
    background-color: #c4dfe6;
    color: #006c84;
}

.buttonSave{
    background-color: #006c84;
    color: #c4dfe6;   
    border: 1px #006c84 solid;
}

.buttonReset,.buttonSave{
    width: 110px;
    height: 40px;
    font-size: 15px;
    box-sizing: border-box;
    cursor: pointer;    
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.buttonReset:hover{
    background-color: #006c84;
    color: #c4dfe6;   
    border: 1px #006c84 solid;
}

.buttonSave:hover{
    border: 1px #006c84 solid;
    background-color: #c4dfe6;
    color: #006c84;   
}

.title{
    font-size: 28px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}